{{#partial "content"}}

    <h1>CD Organizer</h1>
    <p>Add a new CD:</p>

{{/partial}}

{{#partial "sorted"}}
    {{#if allCDs}}
        {{#each allCDs}}
            <p>Album: </p>
            <p>{{title}}</p>
            <p>{{artist}}</p>
        {{/each}}
    {{else}}
        <p>...</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}