{{#partial "content"}}

    <h1>CD Organizer</h1>

{{/partial}}

{{#partial "sorted"}}
    {{#if artists}}
        {{#each artists}}
            <p>Artist: </p>
            <h4>{{name}}</h4>
            {{#each allCDs}}
                <p>{{title}}</p>
            {{/each}}
        {{/each}}
    {{else}}
        <p>...</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}